<h1>{{currentTime}}</h1>
	{{#each channelEventList in upNext}}
	<h3>Channel {{channelEventList.channel.name}}</h3>
	<table>
	<thead>
		<th>Event Date Time</th>
		<th>Show ID</th>
		<th>Router Action</th>
		<th>Action</th>
		<th>Occurs In...</th>
	</thead>
	<tbody>
		{{#each event in channelEventList.events}}
		  <tr class="event">
		  	<td>{{formatted-date event.eventDateTime 'MM-DD-YYYY HH:mm:ss'}}</td>
		  	<td class="showId">{{event.showId}}</td>
		  	<td>{{action-to-string event.routerAction}}</td>
		  	<td>{{action-to-string event.deviceAction}}</td>
		  	<td>{{event.occursIn}}</td>
		  </tr>
	  	{{/each}}
	</tbody>
	</table>
	{{/each}}
